.qcenter-fade {
    opacity: 1 !important;
    top: 0 !important;
    margin-left: 0 !important;
    background-color: transparent !important;
}

.qcenter-modal-content {
    overflow-y: initial;
    max-height: inherit;
    direction: rtl;
}
